In [1]:
analyst = 'Andrey'

In [2]:
year = 1

In [3]:
has_jobs = False

In [4]:
analysts = ['Andrey', 'Inna','Semen']

In [5]:
years = [2, 3, 4]

In [6]:
years[0]

2

In [7]:
analysts.append('Nick')

In [8]:
print(analysts)

['Andrey', 'Inna', 'Semen', 'Nick']

In [9]:
analysts.pop(3)

'Nick'

In [10]:
analysts

['Andrey', 'Inna', 'Semen']

In [11]:
has_jobs = True

In [12]:
if has_jobs:
    message = 'Andrey is happy!'
    print(message)
else: 
    print('Andrey is sad!')

Andrey is happy!

In [13]:
jobs_years = 2

In [14]:
salary = 100000

In [15]:
coefficent = 0

In [16]:
message = 'Addition is equal {coef} x. New salary is {new_salary} rub.'

In [17]:
if jobs_years < 1:
    coefficent = 0
elif jobs_years >= 1 and jobs_years <=2:
    coefficent = 0.2
else:
    coefficent = 0.4
new_salary = salary + salary * coefficent
print(message.format(coef=coefficent,new_salary = new_salary))

Addition is equal 0.2 x. New salary is 120000.0 rub.

In [18]:
analysts = ['Andrey', 'Inna','Semen']

In [19]:
for i in analysts:
    if len(i) > 4:
        print("Analyst name is {}".format(i))

Analyst name is Andrey
Analyst name is Semen

In [20]:
analyst_data = {'Andrey': [2, 100000], 'Inna': [3, 200000], 'Semen': [4, 250000] }

In [21]:
analyst_data['Nick'] = [5, 350000]

In [22]:
len(analyst_data['Andrey'])

2

In [23]:
for i in analyst_data:
    print(i,analyst_data[i])

Andrey [2, 100000]
Inna [3, 200000]
Semen [4, 250000]
Nick [5, 350000]

In [24]:
for i in analyst_data:
    print('Analyst name is {}'.format(i))
    for j in range(len(analyst_data[i])-1):
        print('Years of exp: {}'.format(analyst_data[i][j]))
        print('Salary is: {}'.format(analyst_data[i][j+1]))

Analyst name is Andrey
Years of exp: 2
Salary is: 100000
Analyst name is Inna
Years of exp: 3
Salary is: 200000
Analyst name is Semen
Years of exp: 4
Salary is: 250000
Analyst name is Nick
Years of exp: 5
Salary is: 350000